#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  //background-color: beige;
  opacity: 0.7;
}

ion-content {
  --background: none;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

}

#title1, #title2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

#title1 {
  color: blue;
}

#title2{
  color: rgb(11, 225, 225);
}

.content {
  font-style: italic;
  text-align: justify;
}

.highlight {
  text-decoration: underline;
  text-transform: uppercase;
}
